<!DOCTYPE html>
<html ng-app="ConnectMeApp" ng-strict-di>
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>
    <title>Connect Me</title>
</head>
<body ng-controller="MainController">


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="ConnectMe" src="img/logo.png" style=" height: 50px; margin-top: -14px;"/>
            </a>
            <p ng-show="store.user != null" class="navbar-text navbar-right">Signed in as
                <a href="#" class="navbar-link">{{store.user != null ? store.user.nickname :""}}</a>
                <a href="#" ng-click="logout()">Logout</a>
            </p>

            <form class="navbar-form left" role="search" ng-show="store.user != null">
                <div class="form-group">
                    <input type="text" class="form-control" id="searchPublicChannels"
                           placeholder="Search Public Channels">
                </div>
                <button type="submit" class="btn btn-default" ng-click="searchChannels()">Submit</button>
            </form>
        </div>
    </div>
</nav>

<div ng-show="store.user == null && !store.systemLoading" class="login-form ng-hide"
     ng-class="{'large':section==1, 'medium':section==2}"
     ng-switch="section">
    <div ng-switch-when="0">
        <div class="form-title">
            Login with Username & Password
        </div>
        <div class="form-inputs">
            <input type="text" id="username" name="username" placeholder="Username"/>
            <input type="password" id="password" name="password" placeholder="Password"/>
        </div>
        <div class="form-buttons">
            <a class="link-button signup" href="#" ng-click="setSection(1)">Sign Up</a>
            <a class="link-button forget" href="#" ng-click="setSection(2)">Forgot my password!</a>
            <div id="loginButton" class="login-button animate-all" ng-click="login()">
                Login
            </div>
        </div>
    </div>
    <div ng-switch-when="1">
        <div class="form-title">
            Sign Up
        </div>
        <div class="form-inputs">
            <input type="text" id="singup_username" name="username" placeholder="Username (Up to 10 characters)"/>
            <input type="text" id="singup_nickname" placeholder="Nickname  (Up to 20 characters)"/>
            <input type="text" id="singup_shortDesc" placeholder="Short Description (Up to 50 characters)"/>
            <input type="text" id="singup_photo" placeholder="Photo Url"/>
            <input type="text" id="singup_securityQuestion" placeholder="Security Question"/>
            <input type="text" id="singup_securityAnswer" placeholder="Security Answer"/>
            <input type="password" id="singup_password" placeholder="Password (Up to 8 characters)"/>
            <input type="password" id="singup_confirmPassword" placeholder="Confirm Password"/>
        </div>
        <div class="form-buttons">
            <a class="link-button signup" href="#" ng-click="setSection(0)">Back</a>
            <div id="signupButton" class="login-button animate-all" ng-click="signup()">
                SignUp
            </div>
        </div>
    </div>
    <div ng-switch-when="2">
        <div class="form-title">
            Recover your password
        </div>
        <div class="form-inputs">
            <input type="text" id="forget_username" name="username" placeholder="Username"/>
            <input type="text" id="forget_securityQuestion" placeholder="Security Question"/>
            <input type="text" id="forget_securityAnswer" placeholder="Security Answer"/>
            <input type="password" id="forget_newPassword" placeholder="Password"/>
        </div>
        <div class="form-buttons">
            <a class="link-button signup" href="#" ng-click="setSection(0)">Back</a>
            <div id="forgetButton" class="login-button large animate-all" ng-click="recoverPassword()">
                Recover Password
            </div>
        </div>
    </div>
</div>
<div ng-show="store.user != null && !store.systemLoading" class="ng-hide content-container">
    <div ng-controller="ChannelListController" class="left-col">
        <div class="col-title">Channels</div>
        <div class="col-header-title">Public channels
            <a href="#" class="link-button" data-toggle="modal" data-target="#addPublicChannelModal">+</a></div>
        <div class="no-data ng-hide" ng-show="store.channels.public.length == 0">
            No public channel subscription yet!
        </div>
        <div class="channel-list-row"
             ng-class="store.selectedChannel.channel != null && store.selectedChannel.channel.id == channel.id ? 'selected' : ''"
             ng-repeat="channel in store.channels.public">
            <div class="channel-row-title">
                {{channel.name}}
            </div>
            <div class="channel-row-last-message" ng-bind-html="getHtml(channel.metadata.lastMessage.message)">
            </div>
            <div class="channel-row-date">
                {{formatDate(channel.metadata.lastMessage.createdAt)}}
            </div>
            <div class="channel-row-mentioned" ng-show="channel.metadata.isMentioned">
                @
            </div>
            <div class="channel-row-unread-messages" ng-show="channel.metadata.count > 0">
                {{channel.metadata.count}}
            </div>
            <div id="channelButton-{{channel.id}}" class="channel-row-clickable animate-all"
                 ng-click="selectChannel(channel)"></div>
        </div>
        <div class="col-header-title">Private channels
            <a href="#" class="link-button" data-toggle="modal" data-target="#addPrivateChannelModal">+</a>
        </div>
        <div class="no-data ng-hide" ng-show="store.channels.private.length == 0">
            No private channel subscription yet!
        </div>
        <div class="channel-list-row"
             ng-class="store.selectedChannel.channel != null && store.selectedChannel.channel.id == channel.id ? 'selected' : ''"
             ng-repeat="channel in store.channels.private">
            <div class="channel-row-title">
                {{channel.name}}
            </div>
            <div class="channel-row-last-message" ng-bind-html="getHtml(channel.metadata.lastMessage.message)">
            </div>
            <div class="channel-row-date">
                {{formatDate(channel.metadata.lastMessage.createdAt)}}
            </div>
            <div class="channel-row-mentioned" ng-show="channel.metadata.isMentioned">
                @
            </div>
            <div class="channel-row-unread-messages" ng-show="channel.metadata.count > 0">
                {{channel.metadata.count}}
            </div>
            <div id="channelButton-{{channel.id}}" class="channel-row-clickable animate-all"
                 ng-click="selectChannel(channel)"></div>
        </div>
    </div>
    <div ng-controller="ChannelViewController" class="right-col"
         ng-switch="store.selectedChannel.channel == null ? 1 : (store.selectedChannel.loading? 2:3)">

        <div class="no-data" ng-switch-when="1">
            No channel selected!
        </div>
        <div class="loading-channel" ng-switch-when="2">
            Loading channel
        </div>
        <div class="channel-page" ng-switch-when="3">
            <div class="channel-page-header">
                <div class="channel-title">{{store.selectedChannel.channel.name}}</div>
                <div class="channel-desc">{{store.selectedChannel.channel.shortDesc}}</div>
                <div class="close-channel" ng-click="closeChannel()">X</div>
                <div class="unsubscribe-channel" ng-click="unsubscribeChannel(store.selectedChannel.channel)">
                    Unsubscribe
                </div>
            </div>
            <div class="messages-container">
                <div class="message-div" ng-repeat="message in store.selectedChannel.messages">

                    <div class="message-bubble" ng-class="{'me': (message.customerId == store.user.id)}">
                        <div class="customer-name">
                            {{message.customer.nickname}}
                        </div>
                        <div class="customer-image">
                            {{message.customer.photo}}
                        </div>
                        <div class="message" ng-bind-html="getHtml(message.message)">
                        </div>
                        <div class="date">
                            {{getDateFormat(message.createdAt)}}
                        </div>
                        <div class="replay-button" ng-click="replayToMessage(message)">
                            Reply
                        </div>
                    </div>
                </div>
            </div>
            <div class="send-container">
                <form role="message">
                    <input type="text" id="sendMessageButton" placeholder="Enter your message"/>
                    <button class="send-button" type="submit" ng-click="sendMessage()">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div ng-controller="ChannelDialogController">
    <!-- Modal -->
    <div class="modal fade" id="addPublicChannelModal" tabindex="-1" role="dialog" aria-labelledby="publicChannelModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="publicChannelModal">Create new public channel</h4>
                </div>
                <div class="modal-body">
                    <div class="form-inputs">
                        <input type="text" id="public_channel_name" name="channelName"
                               placeholder="Channel name (Up to 30 characters)"/>
                        <textarea id="public_channel_desc" name="channelDesc"
                                  maxlength="500" placeholder="Channel description (Up to 500 characters)"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="closePublicModal" data-dismiss="modal">Cancel
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="createPublicChannelModal()">Create</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addPrivateChannelModal" tabindex="-1" role="dialog"
         aria-labelledby="privateChannelModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="privateChannelModal">Create new private channel</h4>
                </div>
                <div class="modal-body">
                    <div class="form-inputs">
                        <input type="text" id="search_customers" name="searchCustomer"
                               placeholder="Search for customer" ng-model="searchValue"/>

                        <div class="customer-search-result">
                            <div class="customer-row" ng-repeat="customer in customers"
                                 ng-click="selectCustomer(customer)"
                                 ng-class="{'selected':selectedCustomer != null && customer.id == selectedCustomer.id}">
                                {{customer.nickname}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="closePrivateModal" data-dismiss="modal">Cancel
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="createPrivateChannelModal()">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="searchResultPublicChannelModal" tabindex="-1" role="dialog"
     aria-labelledby="searchResultPublicChannelModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="searchResultPublicChannelModalLabel">Search result for:
                    {{searchChannelText}}</h4>
            </div>
            <div class="modal-body">
                <div class="ng-hide no-data" ng-show="searchChannelResults.length == 0">No Results</div>
                <div class="channel-search-row" ng-repeat="channel in searchChannelResults"
                     ng-click="subscribeToChannel(channel)">
                    <div class="channel-search-title">{{channel.name}}</div>
                    <div class="channel-search-desc">{{channel.shortDesc}}</div>
                    <div class="channel-search-date">{{getDateFormat(channel.createdAt)}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closeSearchResultPublicChannelModal"
                        data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="system-loading ng-hide" ng-show="store.systemLoading">
    <div class="center-loader">
        Loading...
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/Server.js"></script>
<script src="js/app.js"></script>
</body>
</html>