
body {
    font-family: sans-serif;
}

a {
    color: #fda3a3 !important;
    text-decoration: none;
}

.navbar-header {
    width: 100%;
}

.animate-all {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}

.system-loading {
    position: absolute;
    z-index: 100000;
    background: white;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.login-form {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 225px;
    background: #fafafa;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px -2px #aaa;
    overflow: hidden;
}

.login-form.large {
    height: 500px;
}

.login-form.medium {
    height: 350px;
}

.form-title {
    font-size: 17px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 9px;
    color: white;
    background: #383838;
    font-weight: 100;
}

.form-inputs input, .form-inputs textarea {
    display: block;
    padding: 7px;
    width: calc(100% - 20px);
    margin: 10px auto;
    background: white;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin-bottom: 0;
}

.link-button {
    color: #777;
}

.link-button:hover {
    color: #fda3a3 !important;
}

.link-button.forget {
    position: absolute;
    bottom: 8px;
    right: 14px;
}

.link-button.signup {
    position: absolute;
    bottom: 8px;
    left: 14px;
}

.login-button {
    width: 100px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border: 1px solid #333333;
    border-radius: 4px;
    cursor: pointer;
    margin: 11px auto;
}

.login-button:hover {
    border-radius: 8px;
    color: #fda3a3;
    border-color: #fda3a3;
}

.login-button.large {
    width: 200px;
}

.content-container {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 20px 11%;
}

.navbar-form .form-control {
    margin-left: 12px;
}

.left-col {
    width: 34%;
    background: #fafafa;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .1);
    overflow: auto;
}

.left-col .col-title {
    font-size: 17px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 9px;
    color: white;
    background: #383838;
    font-weight: 100;
}

.left-col .col-header-title {
    background: #3c3c3c;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    height: 28px;
    line-height: 27px;
    padding: 0 10px;
    font-size: 13px;
    color: #fda3a3;
    position: relative;
}

.left-col .col-header-title .link-button {
    position: absolute;
    right: 7px;
    font-size: 20px;
    color: white;
    top: -2px;
}

.no-data {
    font-size: 13px;
    padding: 25px 35px;
    text-align: center;
    color: #aaa;
    font-weight: 100;
    font-family: sans-serif;
}

.right-col {
    width: calc(100% - 260px);
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    overflow: hidden;
    margin: 0 10px;
    position: relative;
}

.right-col .no-data {
    font-size: 30px;
    font-weight: 100;
    line-height: 200px;
}

.channel-list-row {
    background: white;
    margin: 2px 0;
    padding: 4px 10px;
    height: 45px;
    position: relative;
}

.channel-row-title {
    font-size: 14px;
    font-weight: 700;
    text-overflow: ellipsis;
    width: calc(100% - 28px);
    white-space: nowrap;
    overflow: hidden;
}

.channel-row-last-message {
    font-size: 11px;
    font-weight: 100;
    color: gray;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.channel-row-mentioned {
    display: block !important;
    position: absolute;
    bottom: 3px;
    right: 9px;
    width: 16px;
    height: 16px;
    background: #3a3a3a;
    border-radius: 10px;
    color: white;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
}

.channel-list-row.selected {
    background: rgba(253, 163, 163, .2);
}

.channel-row-unread-messages {
    display: block !important;
    position: absolute;
    right: 7px;
    top: 3px;
    min-width: 20px;
    text-align: center;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    background: #fda3a3;
    color: white;
    font-size: 10px;
    line-height: 20px;
}

.channel-row-clickable {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 100;
    top: 0;
    cursor: pointer;
    border-right: 0px solid rgb(253, 163, 163);
}

span.user-link {
    cursor: pointer;
    color: #fda3a3;
    font-family: monospace;
}

span.user-link:before {
    content: "@";
}

span.user-link:hover {
    opacity: 0.7;
}

.channel-list-row:hover .channel-row-title {
    color: #fda3a3 !important;
}

.channel-list-row:hover .channel-row-clickable {
    opacity: 1;
    border-right-width: 3px;
}

.channel-page {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.channel-page .channel-page-header {
    font-size: 17px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 11px;
    color: white;
    background: #383838;
    font-weight: 100;
    box-shadow: 0px -3px 5px 4px grey;
    padding-left: 34px;
    height: 70px;
    overflow: hidden;
    z-index: 1;
}

.channel-page .close-channel {
    position: absolute;
    font-family: fantasy;
    font-size: 20px;
    border-radius: 4px;
    width: 40px;
    text-align: center;
    left: 7px;
    top: 12px;
    height: 40px;
    cursor: pointer;
    line-height: 46px;
}

.channel-page .close-channel:hover {
    background: rgba(255, 255, 255, .1);
}

.channel-page .channel-title {
    font-size: 18px;
    text-align: left;
    padding: 0 20px;
}

.channel-page .channel-desc {
    font-size: 12px;
    text-align: left;
    padding: 0 20px;
    color: #bbb;
    line-height: 13px;
}

.channel-page .messages-container {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.channel-page .send-container {
    display: flex;
    height: 40px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background: #f1f1f1;
}

.channel-page .send-container form {
    width: 100%;
    display: flex;
}

.channel-page .send-container input {
    border: 0;
    flex: 1;
    outline: none;
    padding: 0 20px;
}

.channel-page .send-container .send-button {
    width: 80px;
    line-height: 40px;
    text-align: center;
    background: #383838;
    color: #fda3a3;
    cursor: pointer;
}

.message-div {
    display: block;
    position: relative;
    margin: 6px 20px;
}

.message-bubble {
    position: relative;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 6px;
    padding: 3px 16px;
    padding-left: 44px;
    background: #fafafa;
    min-width: 210px;
    padding-right: 8px;

}

.message-bubble.me {
    float: right;
    padding-right: 44px;
    padding-left: 8px;
    background: rgba(253, 163, 163, .1);
}

.message-bubble .customer-name {
    color: #383838;
    font-weight: 700;
    margin-top: 3px;
}

.message-bubble.me .customer-name {
    text-align: right;
}

.message-bubble .customer-image {
    position: absolute;
    left: 7px;
    width: 30px;
    height: 30px;
    top: 8px;
    border-radius: 3px;
    overflow: hidden;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.message-bubble.me .customer-image {
    text-align: right;
    left: auto;
    right: 7px;
}

.message-bubble .message {

}

.message-bubble .date {
    position: absolute;
    top: 9px;
    font-size: 10px;
    color: gray;
    left: auto;
    right: 8px;
}

.message-bubble.me .date {
    position: absolute;
    top: 9px;
    font-size: 11px;
    color: gray;
    left: 8px;
}

.message-bubble .replay-button {
    color: #fda3a3;
    font-size: 12px;
    display: inline;
    cursor: pointer;
}

.message-bubble.me .replay-button {
    display: none;
}

.message-bubble .replay-button:hover {
    opacity: .7;
}

.channel-page .send-container .send-button:hover {
    opacity: 0.7;
}

@media (min-width: 768px) {
    .navbar-form .form-control {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .content-container {
        top: 154px;
        padding: 20px 0;
    }
}

.center-loader {
    width: 200px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 28px;
    color: #aaa;
    font-weight: 100;
}

.customer-row {
    margin: 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 4px;
    background: #fafafa;
    cursor: pointer;
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.customer-row:hover {
    background: #f1f1f1;
}

.customer-row.selected {
    background: #fda3a3;
}

.btn-primary {
    color: #fda3a3;
    background: #3c3c3c;
}

.btn-primary:hover {
    background-color: #222222;
    color: #cb8383;
}

.channel-search-row {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    height: 55px;
    overflow: hidden;
    padding: 2px 16px;
    cursor: pointer;
    position: relative;
}

.channel-search-row:hover {
    background: #f1f1f1;
    color: #fda3a3;
}

.channel-search-date {
    position: absolute;
    right: 16px;
    top: 10px;
    font-size: 10px;
    color: gray;
}

.channel-search-title {
    font-size: 20px;
}

.channel-search-desc {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 24px;
    white-space: nowrap;
    color: gray;
    font-weight: 100;
    font-size: 12px;
}

.unsubscribe-channel {
    position: absolute;
    right: 12px;
    top: 9px;
    font-size: 14px;
    color: #fda3a3;
    cursor: pointer;
}

.unsubscribe-channel:hover {
    opacity: .7;
}